#canv {
	border: 4px solid #5994d7;
	border-radius: 15px;
	background-color: #2f3e45;

	margin-left: -360px;
}

#betField {
	border: 2px solid #5994d7;
	border-radius: 10px;

	display: inline-block;
	margin-top: 20px;

	width: 850px;
	height: 80px;

	background-color: #2f3e45;
}

#betField2 {
	border: 2px solid #5994d7;
	border-radius: 10px;

	display: inline-block;

	width: 350px;
	height: 350px;

	float: right;
	margin-top: -360px;
	margin-right: 85px;

	background-color: #2f3e45;
}

#betButton {
	border: 2px solid #5994d7;
	border-radius: 15px;

	width: 355px;
	height: 40px;

	background-color: #2f3e45;
	color: #FFF;
	font-family: Calibri;
	font-size: 25px;

	float: right;
	margin-top: -412px;
	margin-right: 85px;

	outline: none;
}

#betAmount {
	border: none;
	outline: none;
	width: 200px;
	height: 30px;

	margin-top: -5px;
	margin-left: 20px;

	border-bottom: 1px solid #FFF;
	background-color: #FFFFFF00;

	font-size: 20px;

	color: #FFF;
	float: left;
}

#betHeader {
	font-size: 15px;
	font-family: Calibri;
	color: #00cc11;

	line-height: 10px;
	margin-top: 10px;
	margin-left: 20px;

	float: left;
}

#clearBTN {
	background-color: #FFFFFF00;
	border: none;
	outline: none;

	margin-top: 7.5px;
	margin-left: -50px;
	float: left;
	color: #FFF;
}

#clearBTN:hover {
	color: #c6c6c6;
	cursor: pointer;
}

.betBTN {
	border: none;
	border-radius: 10px;
	background-color: #898989;

	width: 70px;
	height: 30px;

	margin-left: 2px;
	margin-right: 2px;

	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
	outline: none;
}

.betBTN:hover {
	background-color: #bababa;
	cursor: pointer;
}

