#canv {
	border: 3px solid #5994d7;
	border-radius: 25px;

}

#betField {
	border: 2px solid #5994d7;
	border-radius: 10px;

	display: inline-block;
	margin-top: 20px;

	width: 850px;
	height: 60px;

	background-color: #2f3e45;
}

.betInfo {
	border: 2px solid #5994d7;
	border-radius: 10px;

	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;

	display: inline-block;

	width: 250px;
	height: 400px;
}