#canv {
	border: 3px solid #5994d7;
	border-radius: 25px;

}

#betField {
	border: 2px solid #5994d7;
	border-radius: 10px;

	display: inline-block;
	margin-top: 10px;

	width: 850px;
	height: 80px;

	background-color: #2f3e45;
}

.colorBet {
	border: 2px solid #5994d7;
	border-radius: 10px;
	background-color: #2f3e45;

	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;

	display: inline-block;
	cursor: pointer;

	width: 250px;
	height: 50px;
}

.invst h1 {
	font-size: 20px;
	font-family: Calibri;
	margin-top: 2px;
	color: #CCC;

}

.invst p {
	font-size: 15px;
	font-family: Calibri;
	margin-top: -10px;
	color: #CCC;
}

.invst p::selection, h1::selection{
	background-color: transparent;
}


.typeBet {
	border: 2px solid #5994d7;
	border-radius: 10px;
	background-color: #2f3e45;

	margin-top: 5px;

	display: inline-block;
	cursor: pointer;

	width: 400px;
	height: 50px;
}

#numberBet {
	border: 2px solid #5994d7;
	border-radius: 10px;
	background-color: #2f3e45;

	margin-top: 5px;

	display: inline-block;

	width: 810px;
	height: 200px;
}

#betHeader {
	font-size: 15px;
	font-family: Calibri;
	color: #00cc11;

	line-height: 10px;
	margin-top: 10px;
	margin-left: 20px;

	float: left;
}

#betAmount {
	border: none;
	outline: none;
	width: 200px;
	height: 30px;

	margin-top: -5px;
	margin-left: 20px;

	border-bottom: 1px solid #FFF;
	background-color: #FFFFFF00;

	font-size: 20px;

	color: #FFF;
	float: left;
}

#clearBTN {
	background-color: #FFFFFF00;
	border: none;
	outline: none;

	margin-top: 7.5px;
	margin-left: -50px;
	float: left;
	color: #FFF;
}

#clearBTN:hover {
	color: #c6c6c6;
	cursor: pointer;	
}

.betBTN {
	border: none;
	border-radius: 10px;
	background-color: #898989;

	width: 70px;
	height: 30px;

	margin-left: 2px;
	margin-right: 2px;

	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
	outline: none;
}

.betBTN:hover {
	background-color: #bababa;
	cursor: pointer;
} 

#betRed {
	background-color: #ff3855;
}

#betBlack {
	background-color: #232323;
}

#betGreen {
	background-color: #00bb00;
}

.numBet {
	border: 1px solid #5994d7;
	width: 65.5px;
	height: 64.6666666px;

	float: left;
	cursor: pointer;
}

.numBet h1 {
	font-size: 25px;
	font-family: Calibri;
	margin-top: 2px;
	color: #CCC;
}

.numBet p {
	font-size: 10px;
	font-family: Calibri;
	margin-top: -10px;
	color: #CCC;
}

.numBet p::selection, h1::selection {
	background-color: transparent;
}

.betRed {
	background-color: #ff3855;
}

.betBlack {
	background-color: #232323;
}

.bigButton {
	border: 2px solid #5994d7;
	border-radius: 15px;

	width: 160px;
	height: 35px;

	background-color: #2f3e45;
	color: #FFF;
	font-family: Calibri;
	font-size: 15px;

	outline: none;
}